.filler {
    width:20vw;
}
#hero{
  background: url("../images/flag.webp") cover/center no-repeat;
}
#create-form {
    padding: 2em;
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 5em;
}

#create-form > div {
    padding: 0.5em;
}

#create-form > div > input {
    color:#8e8e8e;
    padding-top: 15px;
    padding-bottom:15px;

}

.form-group input {
    padding: 1em;
    color:#8e8e8e;

}

.form-control {
    padding: 1em;
    color:#8e8e8e;

}

#create-form > div > textarea {
    color:#8e8e8e;
    padding-top: 15px;
    padding-bottom:15px;
}

#submit-button-container {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.locationbutton {
    margin: auto;
    display: flex;
    text-align: center;
}

.form-group {
    padding: 1em;
}

h1{
    padding: 0.15em;
}

@media (max-width: 700px){


    #create-form {
        padding: 2em;
        padding-top: 5em;

    }

    #create-form > div {
        padding: 0.5em;
    }

    #create-form > div > input {
        color:#8e8e8e;
        padding-top: 15px;
        padding-bottom:15px;
    }

    #create-form > div > textarea {
        color:#8e8e8e;
        padding-top: 15px;
        padding-bottom:15px;
    }


    #submit-button-container {
        padding-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    h1{
        padding: 0.15em;
    }
}