/* Css for the owner display and attendee displays */
#ownerFrame {
    height: 75px;
    width: 75px;
    object-fit: fill;
}

.attendeeFrame {
    height: 75px;
    width: 75px;
    object-fit: fill;
}

#attendee {
    display:flex;
    
}

.attendeeCard {
    text-align:center;
    border-radius:5px;
    width: 75px;
    background-color: #B6C8EB;
}

#ownerContainer {
    text-align:center;
    border-radius:5px;
    width: 75px;
    background-color: #B6C8EB;
}

#hostedHeading {
    font-size: 25px;
}

#attendHeading {
    font-size: 25px;
    padding-top: 1em;
}

#attendee {
    padding-bottom: 4em;
}





.hidden {
    display: none;
}

.container > h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

#eventInfoFields {
    background-color: #B6C8EB;
    padding-bottom: 40px;  
}

div > label {
    padding-top: 1em;
    padding-left: 0.5em;

}

input[type="text"] {
    width: 90%;
    margin-left: 1.3em;
    margin-bottom: 1em;

} 

.btn-info {
    background-color: #B6C8EB !important;
    width: 100%;
}

.btn-info:hover {
    background-color: #B6C8EB !important;
    border: 1px solid black;
}

.container {
    border-radius: 10px;
}

#btncontainer {
    margin-bottom: 4em;
}

#commentbtncontainer {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    
}

#cmtsbtn {
    width: 100%;
    background-color: #B6C8EB !important;
    color: black;
}

#cmtsbtn:hover {
    background-color: #B6C8EB !important;
    border: 1px solid black;
}

.commentcard {
    background-color: #B6C8EB;
    border-radius: 10px;
}

.commentcard {
    margin-top: 1em;
}

#comment {
    padding: 1em;
}

fieldset {
    margin: 0em;
}


#description2 {
    margin-left: 23px;
    
    width: 90%;
    height:fit-content;
    
    background-color: #eaedf3;
    border-radius: 5px;
    padding:8px;
}