.hidden {
    display: none;
}

#body {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-column: 1 / span 2;
}

.profileNav {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: #DDE8F5;
    
}

.profileBody {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.profileNavList {
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    height: 50px;
    max-width: 100%;
    list-style-type: none;
}

.profileNavItem {
    padding: 1.5em;
    
}

.profileNavList > *:hover {
    background-color: #B6C8EB; 
    border-radius: 5px;
    color: white;
    cursor:pointer;   
}

#profileTop {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#topProfile {
    width: 100%;
    padding-left: 8em;
    padding-right: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileGreeting {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

#frameDiv {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
}

#uploadFileLabel {
    display: flex;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    justify-content: center;
    align-items: center;
}

#uploadFile {
    display: flex;
    justify-content: center;
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    width: 85%;
    background-color: #B6C8EB;
}

#personalInfoFields {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#profileSaveDiv {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    padding-left: 1em;
    padding-top: 1em;
}

.mb-3 {
    padding-left: 1em;
    padding-right: 1em;
}

.form-group {
    padding-top: 1em;
}

.btn-secondary {
    background-color: #B6C8EB !important;
    color: black;
}

.btn-info {
    background-color:#DDE8F5 !important;   
}

.mt-5 {
    margin-top: 0rem !important;
}

#cards-go-here {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    background-color: #DDE8F5;
    border-radius: 10px;

}

 @media (min-width: 1000px){
    #body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 200px 1fr;
    }
    
    .profileNav {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        background-color: white;
        
    }
    
    .profileBody {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .profileNavList {
        display:block;
        align-items: center;
        height: 100%;
        list-style-type: none;
        margin-top: 30px;
    }
    
    .profileNavList > * {
        margin-top:30px;
    }

    .mb-3 {
        width: 90%;
    }

    #uploadFile {
        width: 20%;
    }

}

/* CSS for the cards */
.grid-test {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 0;
}

.image-box {
    display:flex;
    margin:0 ;
    padding: 0.5em;
}

.card-image-test {
    display:flex;
    justify-self:center;
    align-self:center;
    padding-top:auto;
    padding-bottom:auto;
    
}

.card-body {
    display:grid;
    justify-content:left;
    align-content:center;
    height: 100%;
} 

.cards > h1 {
    padding-top: 1em;
    padding-bottom: 1em;

}