.hidden {
    display: none;
}

#body {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}

.profileNav {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: red;
    
}

.profileBody {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.profileNavList {
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.profileNavList > * {
    cursor: pointer;
}

/* Profile display css */
#profileForm {
    display: grid;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 40% 60%;
    width: 100%;
}

#profileForm h1 {
    display: flex;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#imageSubmitDiv {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#frame {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    object-fit: scale-down;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#uploadFileLabel {
    display: flex;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-content: center;
    align-items: center;
}

#uploadFile {
    display: flex;
    justify-content: center;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    width: 90%;
}

#personalInfoFields {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#profileSaveDiv {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

@media (min-width: 1000px){
    #body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 200px 1fr;
    }
    
    .profileNav {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        background-color: red;
        
    }
    
    .profileBody {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .profileNavList {
        display:block;
        align-items: center;
        height: 100%;
        list-style-type: none;
        margin-top: 30px;
    }
    
    .profileNavList > * {
        margin-top:30px;
    }
}

/* CSS for the cards */
.grid-test {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 0;
}

.image-box {
    display:flex;
    margin:0 ;
    padding:0;
}

.card-image-test {
    display:flex;
    justify-self:center;
    align-self:center;
    padding-top:auto;
    padding-bottom:auto;
    
}

.card-body {
    display:grid;
    justify-content:left;
    align-content:center;
    height: 100%;
}