.grid-test {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 0;
}

.image-box {
    display:flex;
    margin:0 ;
    padding:0;
}

.card-image-test {
    display:flex;
    justify-self:center;
    align-self:center;
    padding-top:auto;
    padding-bottom:auto;
    
}

.hidden {
    display: none;
    background-color: red;
}

#searchBarDiv {
    display: flex;
    align-items:center;
    width: 60vw;
}

#searchBar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}