.grid-test {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 0;
}

.image-box {
    display:flex;
    margin:0 ;
    padding:0;
}

.card-image-test {
    display:flex;
    justify-self:center;
    align-self:center;
    padding-top:auto;
    padding-bottom:auto;
    
}

.hidden {
    display: none;
    background-color: red;
}

.advancedOptions {
    position: absolute;
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index: 100;
    background-color:#DDE8F5;
    width: 93%;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#advancedContainer {
    display: grid();
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr; 

}

#locationSearch {
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    display: grid;

}

#locationToggle {

}

#locationsLabel {

}

#locationsBar {

}

#locations {

}

#categorySearch{

}

#categoryToggle {

}

#categoriesLabel {

}

.categoriesBar {

}

#datesSelector{

}

#datesLabel {

}

#dates {

}

.sortBy {

}

#searchBarDiv {
    display: flex;
    align-items:right;
    width: 60vw;
    gap: 10px;
}

#searchBar {
    padding-top: 1em;;
    display: flex;
    justify-content: center;
    gap: 12px;
}


.card-body {
    display:grid;
    justify-content:left;
    align-content:center;
    height: 100%;
}

.searchBtn {
    margin-right:10px;
    width: 150px;
}

#searchButton {
    background-color: #DDE8F5;
    color: black;
}

#searchButton:hover {
    background-color: #B6C8EB;
    color: black;
}

#searchOptions {
    background-color: #DDE8F5;
    color: black;
}

#searchOptions:hover {
    background-color: #B6C8EB;
    color: black;
}

#h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding-top: 1em;
}

.cards > h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

}